{% extends "base.html" %}
{% block title %}Anuncios{% endblock %}
{% block content %}
<table class="table">
<thead>
    <tr>
        <td>#</td>
        <td>Usuario</td>
        <td>Fecha</td>
        <td>Mensaje</td>
    </tr>
</thead>
<tbody>
    {% if mensajes %}
    {% for mensaje in mensajes %}
    <tr>
        <td>{{mensaje.id}}</td>
        <td>{{mensaje.fecha}}</td>
        <td>{{mensaje.mensaje}}</td>
    </tr>
    {% endfor %}
    {% else %}
    <h1>No hay mensajes publicados</h1>
    {% endif %}
</tbody>


</table>


{% endblock content %}