{% extends "base.html" %}

{% block title %}Perfil{% endblock %}

{% block content %}
<a href="{% url 'tablón' %}">inicio</a>
<a href="{% url 'EditarPerfil' %}">editar</a>
<table class="table">
    <thead>
        <tr>
            <td>Usuario</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Email</td>
        </tr>
    </thead>
    <tbody>
        {% if usuarios %}
        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.usuario}}</td>
            <td>{{usuario.first_name}}</td>
            <td>{{usuario.last_name}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.descripcion}}</td>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No hay un perfil del usuario registrado</h1>
        {% endif %}
    </tbody>
    
    
</table>

{% endblock content %}